[submodule "tf300tg-kernel-source"]
	path = tf300tg-kernel-source
	url = https://bitbucket.org/cb22/tf300tg-kernel-source
[submodule "thirdparty/blobpack"]
	path = thirdparty/blobpack
	url = git://github.com/drwowe/BlobTools.git
[submodule "thirdparty/bootstrap"]
	path = thirdparty/bootstrap
	url = git://github.com/hach-que/Linux-On-TF300T
